body {
    background-color: lightblue;
}


.gridContainer {
    overflow: hidden;
   
   display: flex;
   align-items: center;
   justify-content: center;
}

.header{
    font-weight: bolder;
    font-size: 36px;
    text-align: center;
    color: red;
    margin: 0px;
    
}

.slideP{
    width: 40px;
    height: 30px;
    background-color: white;
    text-align: center;
    font-size: 18px;
   
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.slideContainer {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sizeButtons{
    display: flex;
    flex-direction: column;
}

.colorButtons {
    display: flex;
    flex-direction: column;
}


.rightContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttonContainer{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    padding: 10px;
    margin: 10px;
}